langchain-core
langchain-huggingface
langchain_openai
langchain_community
langgraph
langgraph-checkpoint-sqlite

ollama

sqlalchemy
pydantic

huggingface-hub

uvicorn
fastapi

numpy
pandas
openpyxl
python-dotenv
tabulate